@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
address,
strong {
  margin: 0;
  padding: 0;
}

a,
button,
input[type=submit] {
  cursor: pointer;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: -2.24px;
  color: #101a29;
}

h2 {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: -2.24px;
  color: #fff;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: normal;
  color: #171c26;
}

h4 {
  font-size: 25.7px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -0.43px;
  color: #22262a;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: normal;
  color: #101a29;
}

h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: normal;
  color: #525961;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #737588;
}

b {
  font-size: 25.7px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.43;
  color: #fff;
}

address {
  font-size: 15.4px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #b7b9be;
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #101a29;
}

::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #737588;
}

::-moz-placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #737588;
}

:-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #737588;
}

::-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #737588;
}

::placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #737588;
}

a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  color: #101a29;
  margin-bottom: 0;
  text-decoration: none;
}
a:hover {
  color: #3f649b;
}

button {
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  padding: 16px 34px;
  background-color: #246bfd;
  border: none;
}
button:hover {
  background: #6c96eb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.border-1, footer .last-cont, footer .bottom-cont, footer .contact-cont {
  border-top: 1px solid rgba(230, 230, 230, 0.062745098);
}

.border {
  border: solid 1px #e2e2e2;
}

.border-2, .section-11 .col-color:hover, .section-10 .box-color:hover {
  -webkit-box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.text-color {
  color: #246bfd;
}

.form-1, .section-12 .right-col textarea, .section-12 .right-col input[type=email], .section-12 .right-col input[type=text] {
  margin: 10px 0;
  padding: 10px 16px;
  border-radius: 4px;
  border: solid 1px #e2e2e2;
}
.form-1:focus, .section-12 .right-col textarea:focus, .section-12 .right-col input[type=email]:focus, .section-12 .right-col input[type=text]:focus {
  outline: none;
}

#box-opacity {
  color: rgba(255, 255, 255, 0.0784313725);
}

header {
  padding: 35px 0;
}
header .right-col nav ul {
  float: right;
}
header .right-col nav ul li {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: linear 10s ease-in-out 10s;
  transition: linear 10s ease-in-out 10s;
}
header .right-col nav ul li a.rotation:hover span.arrow-down img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
header .right-col nav ul li button {
  padding: 10px 24px;
  margin-left: 25px;
}
header .right-col nav ul li a {
  padding: 10px 10px;
  margin: 0 5px;
}
header .right-col nav ul li .arrow-down {
  padding-left: 5px;
}

.banner-section {
  padding: 85px 0 60px;
  border-bottom: #e6e6e6 1px solid;
}
.banner-section .para-cont {
  margin: 14px 0 32px;
}

.section-1 {
  padding: 70px 0 110px;
}
.section-1 .heading-cont {
  margin: 24px 0 10px;
}

.section-2,
.section-5,
.section-8,
.section-10,
.section-12 {
  background-color: #fafafa;
}

.section-2,
.section-3,
.section-5,
.section-6,
.section-8,
.section-9 {
  padding: 120px 0;
}
.section-2 .para-cont,
.section-3 .para-cont,
.section-5 .para-cont,
.section-6 .para-cont,
.section-8 .para-cont,
.section-9 .para-cont {
  margin: 25px 0 30px;
}
.section-2 .button-cont,
.section-3 .button-cont,
.section-5 .button-cont,
.section-6 .button-cont,
.section-8 .button-cont,
.section-9 .button-cont {
  margin-top: 40px;
}

.section-2 nav ul,
.section-3 nav ul,
.section-5 nav ul,
.section-8 nav ul {
  list-style: url("./picture/Check.png");
  padding: 0;
  list-style-position: inside;
}
.section-2 nav ul li,
.section-3 nav ul li,
.section-5 nav ul li,
.section-8 nav ul li {
  margin: 10px 0;
}
.section-2 nav ul li a,
.section-3 nav ul li a,
.section-5 nav ul li a,
.section-8 nav ul li a {
  font-size: 16px;
  color: #737588;
}

.section-4 {
  padding: 25px 0 65px;
  background-color: #101a29;
}
.section-4 .h6-cont {
  margin-top: 15px;
}
.section-4 .h6-cont h6 {
  color: #2cd8b1;
}

.section-5 .right-col .image-cont {
  position: relative;
  z-index: 0;
}
.section-5 .right-col .image-cont::before {
  position: absolute;
  content: "";
  z-index: 1;
  background: url("./picture/play-pause.png") no-repeat center;
  width: 100%;
  height: 100%;
  background-size: auto;
  cursor: pointer;
}

.section-7 {
  padding: 140px 0;
  background-color: #101a29;
}
.section-7 h3,
.section-7 h5,
.section-7 p {
  color: #fff;
}
.section-7 .text-cont .para-cont {
  margin: 10px 0 100px;
}
.section-7 .heading-cont {
  margin: 25px 0 10px;
}
.section-7 .col-1,
.section-7 .col-2,
.section-7 .col-3 {
  padding: 37px 30px;
}
.section-7 #box-1 {
  margin-top: 40px;
}
.section-7 .box-opacity:hover {
  background-color: rgba(255, 255, 255, 0.08);
  position: relative;
  z-index: 1;
}
.section-7 .box-opacity:hover::before {
  position: absolute;
  content: "";
  z-index: -1;
  background-image: url("./picture/right arrow.png") no-repeat top right;
  background-size: auto;
  rotate: 320deg;
  top: 10px;
  right: 10px;
  height: 33px;
  width: 33px;
}

.section-10 {
  padding: 120px 0;
}
.section-10 .text-cont {
  margin-bottom: 50px;
}
.section-10 .col-1,
.section-10 .col-2,
.section-10 .col-3,
.section-10 .col-4 {
  padding: 18px 10px;
  border-radius: 4px;
  border: solid 1px #e2e2e2;
  text-align: center;
  margin: 18px;
}
.section-10 .image-cont {
  margin: 80px 0;
}
.section-10 .box-color:hover {
  position: relative;
  z-index: 1;
}
.section-10 .box-color:hover::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: url("./picture/right arrow.png") no-repeat top right;
  background-size: auto;
  rotate: 320deg;
  top: 10px;
  right: 10px;
  height: 33px;
  width: 33px;
}

.section-11 {
  padding: 120px 0;
}
.section-11 .left-column .text-cont .para-cont {
  margin: 15px 0 70px;
}
.section-11 .right-column .image-cont {
  text-align: right;
  display: inline;
}
.section-11 .right-column .image-cont .left-image {
  display: inline;
  margin-right: 10px;
}
.section-11 .right-column .image-cont .right-image {
  margin-left: 10px;
  display: inline;
}
.section-11 .right-column .image-cont img {
  cursor: pointer;
}
.section-11 .col-1,
.section-11 .col-2,
.section-11 .col-3,
.section-11 .col-4 {
  background-color: #fafafa;
  border-radius: 6px;
  padding: 30px;
}
.section-11 .col-1 .image-cont img,
.section-11 .col-2 .image-cont img,
.section-11 .col-3 .image-cont img,
.section-11 .col-4 .image-cont img {
  border-radius: 50%;
}
.section-11 .col-1 .para-cont,
.section-11 .col-2 .para-cont,
.section-11 .col-3 .para-cont,
.section-11 .col-4 .para-cont {
  margin: 20px 0;
}
.section-11 h5 {
  font-size: 18px;
}

.section-12 {
  padding: 160px 0 120px;
}
.section-12 .left-col .para-cont {
  margin: 14px 0 40px;
}
.section-12 .left-col .h6-cont {
  margin-top: 36px;
}
.section-12 .right-col {
  padding: 50px;
  border-radius: 4px;
  border: solid 1px #e2e2e2;
  background-color: #fff;
}
.section-12 .right-col textarea {
  width: 100%;
}
.section-12 .right-col input[type=submit] {
  border-radius: 4px;
  background-color: #246bfd;
  width: 100%;
  border: none;
  padding: 14px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.section-12 .right-col input[type=submit]:hover {
  background: gold;
}

footer {
  background-color: #101a29;
}
footer h3,
footer p,
footer h6,
footer strong,
footer h5,
footer a {
  color: #fff;
}
footer .top-cont {
  padding: 87px 0;
}
footer .top-cont .para-cont {
  margin-top: 15px;
}
footer .contact-cont {
  padding: 60px 0;
}
footer .contact-cont .col-1,
footer .contact-cont .col-2,
footer .contact-cont .col-3 {
  display: inline;
}
footer .contact-cont .col-1 .image-cont,
footer .contact-cont .col-2 .image-cont,
footer .contact-cont .col-3 .image-cont {
  display: inline;
  float: left;
}
footer .contact-cont .col-1 .text-cont,
footer .contact-cont .col-2 .text-cont,
footer .contact-cont .col-3 .text-cont {
  margin-left: 10px;
  float: left;
  display: inline;
}
footer .bottom-cont {
  padding: 90px 0;
}
footer .bottom-cont .para-cont {
  margin: 24px 0 15px;
}
footer .bottom-cont .image {
  margin: 0 10px;
  float: left;
}
footer .bottom-cont .h5-cont {
  margin-bottom: 20px;
}
footer .bottom-cont ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
footer .bottom-cont ul li {
  margin: 5px 0;
}
footer .last-cont {
  padding: 26px 0;
}
footer .last-cont .left-cont {
  float: left;
}
footer .last-cont .right-cont {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .last-cont .right-cont img {
  margin: 0 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  b {
    font-size: 24px;
  }
  address {
    font-size: 15px;
  }
  label {
    font-size: 14px;
  }
  a {
    font-size: 16px;
  }
  button {
    font-size: 14px;
  }
  header {
    padding: 30px 0;
  }
  header .right-col nav ul li button {
    font-size: 14px;
    padding: 10px 20px;
    margin-left: 15px;
  }
  header .right-col nav ul li a {
    font-size: 13px;
    padding: 10px 5px;
    margin: 0 5px;
  }
  header .right-col nav ul li .arrow-down {
    padding-left: 3px;
  }
  .banner-section {
    padding: 60px 0 40px;
  }
  .banner-section .para-cont {
    margin: 14px 0 25px;
  }
  .section-1 {
    padding: 60px 0 80px;
  }
  .section-1 .heading-cont {
    margin: 20px 0 10px;
  }
  .section-2,
.section-3,
.section-5,
.section-6,
.section-8,
.section-9 {
    padding: 80px 0;
  }
  .section-2 .para-cont,
.section-3 .para-cont,
.section-5 .para-cont,
.section-6 .para-cont,
.section-8 .para-cont,
.section-9 .para-cont {
    margin: 20px 0 25px;
  }
  .section-2 .button-cont,
.section-3 .button-cont,
.section-5 .button-cont,
.section-6 .button-cont,
.section-8 .button-cont,
.section-9 .button-cont {
    margin-top: 30px;
  }
  .section-4 {
    padding: 20px 0 45px;
  }
  .section-4 .h6-cont {
    margin-top: 10px;
  }
  .section-7 {
    padding: 80px 0;
  }
  .section-7 .text-cont .para-cont {
    margin: 10px 0 50px;
  }
  .section-7 .heading-cont {
    margin: 20px 0 10px;
  }
  .section-10 {
    padding: 80px 0;
  }
  .section-10 .text-cont {
    margin-bottom: 30px;
  }
  .section-10 .col-1,
.section-10 .col-2,
.section-10 .col-3,
.section-10 .col-4 {
    padding: 10px 5px;
    margin: 10px;
  }
  .section-10 .image-cont {
    margin: 60px 0;
  }
  .section-11 {
    padding: 80px 0;
  }
  .section-11 .left-column {
    padding: 10px 0 20px;
  }
  .section-11 .left-column .text-cont .para-cont {
    margin: 15px 0 20px;
  }
  .section-11 .right-column .image-cont .left-image {
    margin-right: 8px;
  }
  .section-11 .right-column .image-cont .right-image {
    margin-left: 8px;
  }
  .section-11 .col-1,
.section-11 .col-2,
.section-11 .col-3,
.section-11 .col-4 {
    padding: 10px;
  }
  .section-11 .col-1 .para-cont,
.section-11 .col-2 .para-cont,
.section-11 .col-3 .para-cont,
.section-11 .col-4 .para-cont {
    margin: 20px 0;
  }
  .section-11 h5 {
    font-size: 16px;
  }
  .section-12 {
    padding: 60px 0;
  }
  .section-12 .left-col .para-cont {
    margin: 14px 0 30px;
  }
  .section-12 .left-col .h6-cont {
    margin-top: 26px;
  }
  .section-12 .right-col {
    padding: 30px 20px;
  }
  .section-12 .right-col input[type=submit] {
    padding: 12px 0;
    font-size: 14px;
  }
  footer .top-cont {
    padding: 60px 0;
  }
  footer .top-cont .para-cont {
    margin-top: 10px;
  }
  footer .contact-cont {
    padding: 40px 0;
  }
  footer .contact-cont strong {
    font-size: 12px;
  }
  footer .contact-cont .text-cont {
    margin-left: 5px;
  }
  footer .bottom-cont {
    padding: 60px 0 40px;
  }
  footer .bottom-cont .para-cont {
    margin: 15px 0;
  }
  footer .bottom-cont .image {
    margin: 0 10px;
  }
  footer .bottom-cont .h5-cont {
    margin-bottom: 20px;
  }
  footer .last-cont {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 12px;
  }
  b {
    font-size: 22px;
  }
  label {
    font-size: 14px;
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
  }
  ::-moz-placeholder {
    font-size: 14px;
  }
  :-ms-input-placeholder {
    font-size: 14px;
  }
  ::-ms-input-placeholder {
    font-size: 14px;
  }
  ::placeholder {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  button {
    font-size: 13px;
    padding: 10px 25px;
  }
  .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header {
    padding: 20px 0;
  }
  header .left-col.span2 {
    max-width: 60%;
    float: left;
  }
  header .right-col.span10 {
    max-width: 40%;
    float: right;
  }
  header .right-col nav ul li button {
    font-size: 12px;
    padding: 10px 20px;
    margin: 0px;
  }
  header .right-col nav ul li a {
    display: none;
  }
  .banner-section {
    padding: 20px 0 10px;
  }
  .banner-section .para-cont {
    margin: 14px 0 25px;
  }
  .banner-section .button-cont {
    margin: 20px 0;
  }
  .section-1 {
    padding: 40px 0;
  }
  .section-1 .heading-cont {
    margin: 10px 0;
  }
  .section-1 .image-cont {
    margin-top: 20px;
  }
  .section-2,
.section-3,
.section-5,
.section-6,
.section-8,
.section-9 {
    padding: 40px 0;
  }
  .section-2 .para-cont,
.section-3 .para-cont,
.section-5 .para-cont,
.section-6 .para-cont,
.section-8 .para-cont,
.section-9 .para-cont {
    margin: 20px 0 25px;
  }
  .section-2 .button-cont,
.section-3 .button-cont,
.section-5 .button-cont,
.section-6 .button-cont,
.section-8 .button-cont,
.section-9 .button-cont {
    margin: 25px 0;
  }
  .section-4 {
    padding: 10px 0 30px;
  }
  .section-4 .h6-cont {
    margin-top: 10px;
  }
  .section-7 {
    padding: 40px 0;
  }
  .section-7 .text-cont .para-cont {
    margin: 10px 0 20px;
  }
  .section-7 .heading-cont {
    margin: 20px 0 10px;
  }
  .section-7 .col-1,
.section-7 .col-2,
.section-7 .col-3 {
    padding: 15px 10px;
    margin: 20px 0;
  }
  .section-7 #box-1 {
    margin-top: 0px;
  }
  .section-10 {
    padding: 40px 0;
  }
  .section-10 .text-cont {
    margin-bottom: 20px;
  }
  .section-10 .col-1,
.section-10 .col-2,
.section-10 .col-3,
.section-10 .col-4 {
    padding: 10px 5px;
    margin: 20px 0;
  }
  .section-10 .image-cont {
    margin: 40px 0;
  }
  .section-10 #box-color {
    margin-top: 0;
  }
  .section-11 {
    padding: 80px 0;
  }
  .section-11 .left-column {
    padding: 10px 0 20px;
  }
  .section-11 .left-column .text-cont .para-cont {
    margin: 15px 0 20px;
  }
  .section-11 .right-column {
    text-align: center;
  }
  .section-11 .right-column .image-cont .left-image {
    margin-right: 8px;
  }
  .section-11 .right-column .image-cont .right-image {
    margin-left: 8px;
  }
  .section-11 .col-1,
.section-11 .col-2,
.section-11 .col-3,
.section-11 .col-4 {
    padding: 20px;
    margin: 20px auto;
  }
  .section-11 .col-1 .para-cont,
.section-11 .col-2 .para-cont,
.section-11 .col-3 .para-cont,
.section-11 .col-4 .para-cont {
    margin: 20px 0;
  }
  .section-11 .col-1 .image-cont img,
.section-11 .col-2 .image-cont img,
.section-11 .col-3 .image-cont img,
.section-11 .col-4 .image-cont img {
    width: 60px;
  }
  .section-11 .col-1 .left-col.span3,
.section-11 .col-2 .left-col.span3,
.section-11 .col-3 .left-col.span3,
.section-11 .col-4 .left-col.span3 {
    width: 50%;
    float: left;
  }
  .section-11 .col-1 .right-col.span9,
.section-11 .col-2 .right-col.span9,
.section-11 .col-3 .right-col.span9,
.section-11 .col-4 .right-col.span9 {
    width: 50%;
    float: left;
  }
  .section-11 h5 {
    font-size: 16px;
  }
  .section-11 .h5-cont {
    margin-top: 10px;
  }
  .section-12 {
    padding: 40px 0 20px;
  }
  .section-12 .left-col .para-cont {
    margin: 14px 0 30px;
  }
  .section-12 .left-col .h6-cont {
    margin: 20px 0;
  }
  .section-12 .left-col .h6-cont h6 {
    font-size: 18px;
  }
  .section-12 .right-col {
    padding: 30px 20px;
  }
  .section-12 .right-col input[type=text] {
    width: 100%;
  }
  .section-12 .right-col input[type=email] {
    width: 100%;
  }
  .section-12 .right-col input[type=submit] {
    padding: 12px 0;
    font-size: 14px;
  }
  footer .top-cont {
    padding: 40px 0;
  }
  footer .top-cont .para-cont {
    margin-top: 10px;
  }
  footer .top-cont .button-cont {
    margin-top: 20px;
    text-align: center;
  }
  footer .contact-cont {
    padding: 40px 0;
  }
  footer .contact-cont .col-1,
footer .contact-cont .col-2,
footer .contact-cont .col-3 {
    display: block;
  }
  footer .contact-cont .col-1 .image-cont,
footer .contact-cont .col-2 .image-cont,
footer .contact-cont .col-3 .image-cont {
    display: block !important;
    float: none;
    text-align: center;
  }
  footer .contact-cont .col-1 .text-cont,
footer .contact-cont .col-2 .text-cont,
footer .contact-cont .col-3 .text-cont {
    text-align: center;
    margin-left: 10px;
    float: none;
    display: block;
    margin: 10px 0 20px;
  }
  footer .bottom-cont {
    padding: 40px 0 30px;
  }
  footer .bottom-cont .para-cont {
    margin: 15px 0;
    text-align: center;
  }
  footer .bottom-cont .image-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .bottom-cont .image {
    margin: 0 10px 10px;
  }
  footer .bottom-cont .h5-cont {
    margin-bottom: 20px;
  }
  footer .bottom-cont .right-col {
    text-align: center;
  }
  footer .last-cont {
    padding: 20px 0;
  }
  footer .last-cont .left-cont {
    float: none;
    text-align: center;
  }
  footer .last-cont .right-cont {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=typography.css.map */